body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header div {
    display: flex;
    gap: 10px;
}

h1 {
    margin: 0;
}

#logoutButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#logoutButton:hover {
    background-color: #0056b3;
}

#refreshButton {
    background-color: #28a745; /* Same green color from logon button */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#refreshButton:hover {
    background-color: #218838; /* Slightly darker green for hover effect */
}

.user-list {
    margin-top: 20px;
}

.user-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}